@using AntDesign
@using DatePicker.Model


<AntDesign.Button Type="primary" OnClick="@(()=>{ SimpleModalVisible = true; })">
    Open Modal
</AntDesign.Button>
<AntDesign.Modal Title="Multiple OK Buttons" Visible="@SimpleModalVisible" OnOk="@HandleOk" OnCancel="@(()=>{ SimpleModalVisible = false; })">

    <DialogDisplayRow CurrentFilm="Film1" RowSelected="OnRowSelected"></DialogDisplayRow>
    <DialogDisplayRow CurrentFilm="Film2" RowSelected="OnRowSelected"></DialogDisplayRow>
    <DialogDisplayRow CurrentFilm="Film3" RowSelected="OnRowSelected"></DialogDisplayRow>

</AntDesign.Modal>
Selected Film: 
<label>@SelectedFilm.Title</label>



<AntDesign.Button Type="primary" OnClick="@(() => CustomFooterModalVisible = true)">
    Open Modal with customized footer
</AntDesign.Button>
@{
    RenderFragment footer = @<Template>
        <AntDesign.Button OnClick="@HandleOk" @key="@( "submit" )" Type="primary" Loading="@_loading">
            Custom Submit Button
        </AntDesign.Button>
        <AntDesign.Button OnClick="@(() => CustomFooterModalVisible = false)" @key="@( "back" )">Custom Cancel</AntDesign.Button>
    </Template>;
}
<AntDesign.Modal Title="Customized Footer"
                 Visible="@CustomFooterModalVisible"
                 OnOk="@HandleOk"
                 OnCancel="@(() => CustomFooterModalVisible = false)"
                 Footer="@footer">
    <DialogDisplayRow CurrentFilm="Film1" RowSelected="OnRowSelected"></DialogDisplayRow>
</AntDesign.Modal>




@code {
    public Film Film1{ get; set; } = new Film(){Title = "Film1"};
    public Film Film2{ get; set; } = new Film() { Title = "Film2" };
    public Film Film3{ get; set; } = new Film() { Title = "Film3" };
    public Film SelectedFilm { get; set; } = new Film() { Title = "Initial Film" };


    bool SimpleModalVisible = false;
    bool CustomFooterModalVisible = false;
    bool _loading = false;


    private async Task HandleOk(MouseEventArgs e)
    {
        _loading = true;
        await Task.Delay(3000);
        CustomFooterModalVisible = false;
        _loading = false;
    }

    [Parameter] public EventCallback DoorStyleChanged { get; set; }

    private async Task OnRowSelected(Film e)
    {
        SelectedFilm = e;
        SimpleModalVisible = false;
    }
}





